<?xml version="1.0"?>

<PagetittleSection>

  <add key="Maghaate_ListMaghaate_PathLog" value="Maghaate_AddMaghaate_Tittle_PageTittle,AddMaghaate,Maghaate,btn-green ti-plus,null" />
  <add key="Maghaate_AddMaghaate_PathLog" value="Maghaate_ListMaghaate_Tittle_PageTittle,ListMaghaate,Maghaate,btn-purple ti-list,null" />
  <add key="Maghaate_EditMaghaate_PathLog" value="Maghaate_ListMaghaate_Tittle_PageTittle,ListMaghaate,Maghaate,btn-purple ti-list,null;Maghaate_AddMaghaate_Tittle_PageTittle,AddMaghaate,Maghaate,btn-green ti-plus,null" />
  <add key="Maghaate_DetailMaghaate_PathLog" value="Maghaate_ListMaghaate_Tittle_PageTittle,ListMaghaate,Maghaate,btn-purple ti-list,null;Maghaate_AddMaghaate_Tittle_PageTittle,AddMaghaate,Maghaate,btn-green ti-plus,null;Maghaate_EditMaghaate_Tittle_PageTittle,EditMaghaate,Maghaate,btn-yellow ti-pencil,MaghaateId" />

  <add key="Paaye_ListPaaye_PathLog" value="Paaye_AddPaaye_Tittle_PageTittle,AddPaaye,Paaye,btn-green ti-plus,MaghaateId" />
  <add key="Paaye_AddPaaye_PathLog" value="Paaye_ListPaaye_Tittle_PageTittle,ListPaaye,Paaye,btn-purple ti-list,MaghaateId" />
  <add key="Paaye_EditPaaye_PathLog" value="Paaye_ListPaaye_Tittle_PageTittle,ListPaaye,Paaye,btn-purple ti-list,MaghaateId;Paaye_AddPaaye_Tittle_PageTittle,AddPaaye,Paaye,btn-green ti-plus,MaghaateId" />
  <add key="Paaye_DetailPaaye_PathLog" value="Paaye_ListPaaye_Tittle_PageTittle,ListPaaye,Paaye,btn-purple ti-list,MaghaateId;Paaye_AddPaaye_Tittle_PageTittle,AddPaaye,Paaye,btn-green ti-plus,MaghaateId;Paaye_EditPaaye_Tittle_PageTittle,EditPaaye,Paaye,btn-yellow ti-pencil,MaghaateId-PaayeId" />

  <add key="Doroos_ListDoroos_PathLog" value="Doroos_AddDoroos_Tittle_PageTittle,AddDoroos,Doroos,btn-green ti-plus,PaayeId" />
  <add key="Doroos_AddDoroos_PathLog" value="Doroos_ListDoroos_Tittle_PageTittle,ListDoroos,Doroos,btn-purple ti-list,PaayeId" />
  <add key="Doroos_EditDoroos_PathLog" value="Doroos_ListDoroos_Tittle_PageTittle,ListDoroos,Doroos,btn-purple ti-list,PaayeId;Doroos_AddDoroos_Tittle_PageTittle,AddDoroos,Doroos,btn-green ti-plus,PaayeId" />
  <add key="Doroos_DetailDoroos_PathLog" value="Doroos_ListDoroos_Tittle_PageTittle,ListDoroos,Doroos,btn-purple ti-list,PaayeId;Doroos_AddDoroos_Tittle_PageTittle,AddDoroos,Doroos,btn-green ti-plus,PaayeId;Doroos_EditDoroos_Tittle_PageTittle,EditDoroos,Doroos,btn-yellow ti-pencil,PaayeId-DoroosId" />


  <add key="DoroosFogholade_ListDoroos_PathLog" value="DoroosFogholade_AddDoroos_Tittle_PageTittle,AddDoroos,DoroosFogholade,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="DoroosFogholade_AddDoroos_PathLog" value="DoroosFogholade_ListDoroos_Tittle_PageTittle,ListDoroos,DoroosFogholade,btn-purple ti-list,NemayandegiId-ModirId" />
  <add key="DoroosFogholade_EditDoroos_PathLog" value="DoroosFogholade_ListDoroos_Tittle_PageTittle,ListDoroos,DoroosFogholade,btn-purple ti-list,NemayandegiId-ModirId;DoroosFogholade_AddDoroos_Tittle_PageTittle,AddDoroos,DoroosFogholade,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="DoroosFogholade_DetailDoroos_PathLog" value="DoroosFogholade_ListDoroos_Tittle_PageTittle,ListDoroos,DoroosFogholade,btn-purple ti-list,NemayandegiId-ModirId;DoroosFogholade_AddDoroos_Tittle_PageTittle,AddDoroos,DoroosFogholade,btn-green ti-plus,NemayandegiId-ModirId;DoroosFogholade_EditDoroos_Tittle_PageTittle,EditDoroos,DoroosFogholade,btn-yellow ti-pencil,NemayandegiId-ModirId-DoroosId" />

  <add key="Location_ListState_PathLog" value="Location_AddState_Tittle_PageTittle,AddState,Location,btn-green ti-plus,null" />
  <add key="Location_AddState_PathLog" value="Location_ListState_Tittle_PageTittle,ListState,Location,btn-purple ti-list,null" />
  <add key="Location_EditState_PathLog" value="Location_ListState_Tittle_PageTittle,ListState,Location,btn-purple ti-list,null;Location_AddState_Tittle_PageTittle,AddState,ListCity,btn-green ti-plus,null" />
  <add key="Location_ListCity_PathLog" value="Location_ListState_Tittle_PageTittle,ListState,Location,btn-purple ti-list,null;Location_AddCity_Tittle_PageTittle,AddCity,Location,btn-green ti-plus,StateId" />
  <add key="Location_AddCity_PathLog" value="Location_ListState_Tittle_PageTittle,ListState,Location,btn-purple ti-list,null;Location_ListCity_Tittle_PageTittle,ListCity,Location,btn-purple ti-list,StateId" />
  <add key="Location_EditCity_PathLog" value="Location_ListCity_Tittle_PageTittle,ListCity,Location,btn-purple ti-list,StateId;Location_AddCity_Tittle_PageTittle,AddCity,ListCity,btn-green ti-plus,StateId" />


  <add key="Madares_ListMadares_PathLog" value="Madares_AddMadares_Tittle_PageTittle,AddMadares,Madares,btn-green ti-plus,NemayandegiId" />
  <add key="Madares_AddMadares_PathLog" value="Madares_ListMadares_Tittle_PageTittle,ListMadares,Madares,btn-purple ti-list,NemayandegiId" />
  <add key="Madares_EditMadares_PathLog" value="Madares_ListMadares_Tittle_PageTittle,ListMadares,Madares,btn-purple ti-list,NemayandegiId;Madares_AddMadares_Tittle_PageTittle,AddMadares,Madares,btn-green ti-plus,NemayandegiId" />
  <add key="Madares_DetailMadares_PathLog" value="Madares_ListMadares_Tittle_PageTittle,ListMadares,Madares,btn-purple ti-list,NemayandegiId;Madares_AddMadares_Tittle_PageTittle,AddMadares,Madares,btn-green ti-plus,NemayandegiId;Madares_EditMadares_Tittle_PageTittle,EditMadares,Madares,btn-yellow ti-pencil,NemayandegiId-MadaresId" />

  <add key="Modir_ListModir_PathLog" value="Madares_ListMadares_Tittle_PageTittle,ListMadares,Madares,btn-purple ti-list,NemayandegiId" />
  <add key="Modir_AddModir_PathLog" value="Modir_ListModir_Tittle_PageTittle,ListModir,Modir,btn-purple ti-list,NemayandegiId" />
  <add key="Modir_EditModir_PathLog" value="Modir_ListModir_Tittle_PageTittle,ListModir,Modir,btn-purple ti-list,NemayandegiId;Modir_AddModir_Tittle_PageTittle,AddModir,Modir,btn-green ti-plus,NemayandegiId" />
  <add key="Modir_DetailModir_PathLog" value="Modir_ListModir_Tittle_PageTittle,ListModir,Modir,btn-purple ti-list,NemayandegiId;Modir_AddModir_Tittle_PageTittle,AddModir,Modir,btn-green ti-plus,NemayandegiId;Modir_EditModir_Tittle_PageTittle,EditModir,Modir,btn-yellow ti-pencil,NemayandegiId" />


  <add key="Moaven_ListMoaven_PathLog" value="Moaven_AddMoaven_Tittle_PageTittle,AddMoaven,Moaven,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="Moaven_AddMoaven_PathLog" value="Moaven_ListMoaven_Tittle_PageTittle,ListMoaven,Moaven,btn-purple ti-list,NemayandegiId-ModirId" />
  <add key="Moaven_EditMoaven_PathLog" value="Moaven_ListMoaven_Tittle_PageTittle,ListMoaven,Moaven,btn-purple ti-list,NemayandegiId-ModirId;Moaven_AddMoaven_Tittle_PageTittle,AddMoaven,Moaven,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="Moaven_DetailMoaven_PathLog" value="Moaven_ListMoaven_Tittle_PageTittle,ListMoaven,Moaven,btn-purple ti-list,NemayandegiId-ModirId;Moaven_AddMoaven_Tittle_PageTittle,AddMoaven,Moaven,btn-green ti-plus,NemayandegiId-ModirId;Moaven_EditMoaven_Tittle_PageTittle,EditMoaven,Moaven,btn-yellow ti-pencil,NemayandegiId-ModirId-MoavenId" />



  <add key="Nemayandegi_ListNemayandegi_PathLog" value="Nemayandegi_AddNemayandegi_Tittle_PageTittle,AddNemayandegi,Nemayandegi,btn-green ti-plus,null" />
  <add key="Nemayandegi_AddNemayandegi_PathLog" value="Nemayandegi_ListNemayandegi_Tittle_PageTittle,ListNemayandegi,Nemayandegi,btn-purple ti-list,null" />
  <add key="Nemayandegi_EditNemayandegi_PathLog" value="Nemayandegi_ListNemayandegi_Tittle_PageTittle,ListNemayandegi,Nemayandegi,btn-purple ti-list,null;Nemayandegi_AddNemayandegi_Tittle_PageTittle,AddNemayandegi,Nemayandegi,btn-green ti-plus,null" />
  <add key="Nemayandegi_DetailNemayandegi_PathLog" value="Nemayandegi_ListNemayandegi_Tittle_PageTittle,ListNemayandegi,Nemayandegi,btn-purple ti-list,null;Nemayandegi_AddNemayandegi_Tittle_PageTittle,AddNemayandegi,Nemayandegi,btn-green ti-plus,null;Nemayandegi_EditNemayandegi_Tittle_PageTittle,EditNemayandegi,Nemayandegi,btn-yellow ti-pencil,NemayandegiId" />



  <add key="Moallem_ListMoallem_PathLog" value="Moallem_AddMoallem_Tittle_PageTittle,AddMoallem,Moallem,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="Moallem_AddMoallem_PathLog" value="Moallem_ListMoallem_Tittle_PageTittle,ListMoallem,Moallem,btn-purple ti-list,NemayandegiId-ModirId" />
  <add key="Moallem_EditMoallem_PathLog" value="Moallem_ListMoallem_Tittle_PageTittle,ListMoallem,Moallem,btn-purple ti-list,NemayandegiId-ModirId;Moallem_AddMoallem_Tittle_PageTittle,AddMoallem,Moallem,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="Moallem_DetailMoallem_PathLog" value="Moallem_ListMoallem_Tittle_PageTittle,ListMoallem,Moallem,btn-purple ti-list,NemayandegiId-ModirId;Moallem_AddMoallem_Tittle_PageTittle,AddMoallem,Moallem,btn-green ti-plus,NemayandegiId-ModirId;Moallem_EditMoallem_Tittle_PageTittle,EditMoallem,Moallem,btn-yellow ti-pencil,NemayandegiId-ModirId-MoallemId" />



  <add key="Ovlia_ListOvlia_PathLog" value="Ovlia_AddOvlia_Tittle_PageTittle,AddOvlia,Ovlia,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="Ovlia_AddOvlia_PathLog" value="Ovlia_ListOvlia_Tittle_PageTittle,ListOvlia,Ovlia,btn-purple ti-list,NemayandegiId-ModirId" />
  <add key="Ovlia_EditOvlia_PathLog" value="Ovlia_ListOvlia_Tittle_PageTittle,ListOvlia,Ovlia,btn-purple ti-list,NemayandegiId-ModirId;Ovlia_AddOvlia_Tittle_PageTittle,AddOvlia,Ovlia,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="Ovlia_DetailOvlia_PathLog" value="Ovlia_ListOvlia_Tittle_PageTittle,ListOvlia,Ovlia,btn-purple ti-list,NemayandegiId-ModirId;Ovlia_AddOvlia_Tittle_PageTittle,AddOvlia,Ovlia,btn-green ti-plus,NemayandegiId-ModirId;Ovlia_EditOvlia_Tittle_PageTittle,EditOvlia,Ovlia,btn-yellow ti-pencil,NemayandegiId-ModirId-OvliaId" />




  <add key="DaneshAmooz_ListDaneshAmooz_PathLog" value="DaneshAmooz_AddDaneshAmooz_Tittle_PageTittle,AddDaneshAmooz,DaneshAmooz,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="DaneshAmooz_AddDaneshAmooz_PathLog" value="DaneshAmooz_ListDaneshAmooz_Tittle_PageTittle,ListDaneshAmooz,DaneshAmooz,btn-purple ti-list,NemayandegiId-ModirId" />
  <add key="DaneshAmooz_EditDaneshAmooz_PathLog" value="DaneshAmooz_ListDaneshAmooz_Tittle_PageTittle,ListDaneshAmooz,DaneshAmooz,btn-purple ti-list,NemayandegiId-ModirId;DaneshAmooz_AddDaneshAmooz_Tittle_PageTittle,AddDaneshAmooz,DaneshAmooz,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="DaneshAmooz_DetailDaneshAmooz_PathLog" value="DaneshAmooz_ListDaneshAmooz_Tittle_PageTittle,ListDaneshAmooz,DaneshAmooz,btn-purple ti-list,NemayandegiId-ModirId;DaneshAmooz_AddDaneshAmooz_Tittle_PageTittle,AddDaneshAmooz,DaneshAmooz,btn-green ti-plus,NemayandegiId-ModirId;DaneshAmooz_EditDaneshAmooz_Tittle_PageTittle,EditDaneshAmooz,DaneshAmooz,btn-yellow ti-pencil,NemayandegiId-ModirId-DaneshAmuzId" />
  <add key="DaneshAmooz_GozaresheTahsili_PathLog" value="DaneshAmooz_ListDaneshAmooz_Tittle_PageTittle,ListDaneshAmooz,DaneshAmooz,btn-purple ti-list,NemayandegiId-ModirId;DaneshAmooz_AddDaneshAmooz_Tittle_PageTittle,AddDaneshAmooz,DaneshAmooz,btn-green ti-plus,NemayandegiId-ModirId;DaneshAmooz_EditDaneshAmooz_Tittle_PageTittle,EditDaneshAmooz,DaneshAmooz,btn-yellow ti-pencil,NemayandegiId-ModirId-DaneshAmuzId" />
  <add key="DaneshAmooz_HuzurGhiabVaTashvighTanbih_PathLog" value="DaneshAmooz_ListDaneshAmooz_Tittle_PageTittle,ListDaneshAmooz,DaneshAmooz,btn-purple ti-list,NemayandegiId-ModirId;DaneshAmooz_AddDaneshAmooz_Tittle_PageTittle,AddDaneshAmooz,DaneshAmooz,btn-green ti-plus,NemayandegiId-ModirId;DaneshAmooz_EditDaneshAmooz_Tittle_PageTittle,EditDaneshAmooz,DaneshAmooz,btn-yellow ti-pencil,NemayandegiId-ModirId-DaneshAmuzId" />
  <add key="DaneshAmooz_SabteNomre_PathLog" value="DaneshAmooz_ListDaneshAmooz_Tittle_PageTittle,ListDaneshAmooz,DaneshAmooz,btn-purple ti-list,NemayandegiId-ModirId;DaneshAmooz_AddDaneshAmooz_Tittle_PageTittle,AddDaneshAmooz,DaneshAmooz,btn-green ti-plus,NemayandegiId-ModirId;DaneshAmooz_EditDaneshAmooz_Tittle_PageTittle,EditDaneshAmooz,DaneshAmooz,btn-yellow ti-pencil,NemayandegiId-ModirId-DaneshAmuzId" />


  <add key="Kelas_ListKelas_PathLog" value="Kelas_AddKelas_Tittle_PageTittle,AddKelas,Kelas,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="Kelas_AddKelas_PathLog" value="Kelas_ListKelas_Tittle_PageTittle,ListKelas,Kelas,btn-purple ti-list,NemayandegiId-ModirId" />
  <add key="Kelas_EditKelas_PathLog" value="Kelas_ListKelas_Tittle_PageTittle,ListKelas,Kelas,btn-purple ti-list,NemayandegiId-ModirId;Kelas_AddKelas_Tittle_PageTittle,AddKelas,Kelas,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="Kelas_DetailKelas_PathLog" value="Kelas_ListKelas_Tittle_PageTittle,ListKelas,Kelas,btn-purple ti-list,NemayandegiId-ModirId;Kelas_AddKelas_Tittle_PageTittle,AddKelas,Kelas,btn-green ti-plus,NemayandegiId-ModirId;Kelas_EditKelas_Tittle_PageTittle,EditKelas,Kelas,btn-yellow ti-pencil,NemayandegiId-ModirId-KelasId" />
  <add key="Kelas_SabteNomre_PathLog" value="Kelas_ListKelas_Tittle_PageTittle,ListKelas,Kelas,btn-purple ti-list,NemayandegiId-ModirId;Kelas_AddKelas_Tittle_PageTittle,AddKelas,Kelas,btn-green ti-plus,NemayandegiId-ModirId;Kelas_EditKelas_Tittle_PageTittle,EditKelas,Kelas,btn-yellow ti-pencil,NemayandegiId-ModirId-KelasId" />
  <add key="Kelas_RizNomarat_PathLog" value="Kelas_ListKelas_Tittle_PageTittle,ListKelas,Kelas,btn-purple ti-list,NemayandegiId-ModirId;Kelas_AddKelas_Tittle_PageTittle,AddKelas,Kelas,btn-green ti-plus,NemayandegiId-ModirId;Kelas_EditKelas_Tittle_PageTittle,EditKelas,Kelas,btn-yellow ti-pencil,NemayandegiId-ModirId-KelasId" />

  <add key="BarnameHaftegi_Create_PathLog" value="Kelas_ListKelas_Tittle_PageTittle,ListKelas,Kelas,btn-purple ti-list,NemayandegiId-ModirId;BarnameEmtehani_Create_Tittle_PageTittle,Create,BarnameEmtehani,btn-red fa fa-flag-checkered,NemayandegiId-ModirId-KelasId" />
  <add key="BarnameHaftegi_Edit_PathLog" value="Kelas_ListKelas_Tittle_PageTittle,ListKelas,Kelas,btn-purple ti-list,NemayandegiId-ModirId;BarnameEmtehani_Create_Tittle_PageTittle,Create,BarnameEmtehani,btn-red fa fa-flag-checkered,NemayandegiId-ModirId-KelasId" />
  <add key="BarnameEmtehani_Create_PathLog" value="Kelas_ListKelas_Tittle_PageTittle,ListKelas,Kelas,btn-purple ti-list,NemayandegiId-ModirId;BarnameHaftegi_Create_Tittle_PageTittle,Create,BarnameHaftegi,btn-yellow fa fa-calendar,NemayandegiId-ModirId-KelasId" />


  <add key="Account_AccountManageNamayandegi_PathLog" value="Nemayandegi_ListNemayandegi_Tittle_PageTittle,ListNemayandegi,Nemayandegi,btn-purple ti-list,null;Nemayandegi_DetailNemayandegi_Tittle_PageTittle,DetailNemayandegi,Nemayandegi,btn-blue fa fa-info-circle,NemayandegiId;Nemayandegi_EditNemayandegi_Tittle_PageTittle,EditNemayandegi,Nemayandegi,btn-yellow ti-pencil,NemayandegiId" />
  <add key="Account_AccountManageModir_PathLog" value="Madares_ListMadares_Tittle_PageTittle,ListMadares,Madares,btn-purple ti-list,NemayandegiId;Madares_AddMadares_Tittle_PageTittle,AddMadares,Madares,btn-green ti-plus,NemayandegiId;Madares_DetailMadares_Tittle_PageTittle,DetailMadares,Madares,btn-blue ti-info-alt,NemayandegiId-MadaresId" />
  <add key="Account_AccountManageMoaven_PathLog" value="Moaven_ListMoaven_Tittle_PageTittle,ListMoaven,Moaven,btn-purple ti-list,NemayandegiId-ModirId;Moaven_AddMoaven_Tittle_PageTittle,AddMoaven,Moaven,btn-green ti-plus,NemayandegiId-ModirId;Moaven_DetailMoaven_Tittle_PageTittle,DetailMoaven,Moaven,btn-blue ti-info-alt,NemayandegiId-ModirId-MoavenId" />
  <add key="Account_AccountManageMoallem_PathLog" value="Moallem_ListMoallem_Tittle_PageTittle,ListMoallem,Moallem,btn-purple ti-list,NemayandegiId-ModirId;Moallem_AddMoallem_Tittle_PageTittle,AddMoallem,Moallem,btn-green ti-plus,NemayandegiId-ModirId;Moallem_DetailMoallem_Tittle_PageTittle,DetailMoallem,Moallem,btn-blue ti-info-alt,NemayandegiId-ModirId-MoallemId" />
  <add key="Account_AccountManageOvlia_PathLog" value="Ovlia_ListOvlia_Tittle_PageTittle,ListOvlia,Ovlia,btn-purple ti-list,NemayandegiId-ModirId;Ovlia_AddOvlia_Tittle_PageTittle,AddOvlia,Ovlia,btn-green ti-plus,NemayandegiId-ModirId;Ovlia_DetailOvlia_Tittle_PageTittle,DetailOvlia,Ovlia,btn-blue ti-info-alt,NemayandegiId-ModirId-OvliaId" />


  <add key="OmureMali_ListServices_PathLog" value="OmureMali_AddServices_Tittle_PageTittle,AddServices,OmureMali,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="OmureMali_AddServices_PathLog" value="OmureMali_ListServices_Tittle_PageTittle,ListServices,OmureMali,btn-purple ti-list,NemayandegiId-ModirId" />
  <add key="OmureMali_EditServices_PathLog" value="OmureMali_ListServices_Tittle_PageTittle,ListServices,OmureMali,btn-purple ti-list,NemayandegiId-ModirId;OmureMali_AddServices_Tittle_PageTittle,AddServices,OmureMali,btn-green ti-plus,NemayandegiId-ModirId" />
  <add key="OmureMali_DetailServices_PathLog" value="OmureMali_ListServices_Tittle_PageTittle,ListServices,OmureMali,btn-purple ti-list,NemayandegiId-ModirId;OmureMali_AddServices_Tittle_PageTittle,AddServices,OmureMali,btn-green ti-plus,NemayandegiId-ModirId;OmureMali_EditServices_Tittle_PageTittle,EditServices,OmureMali,btn-yellow ti-pencil,NemayandegiId-ModirId-ServiceId" />

  <add key="OmureMali_ListHazine_PathLog" value="OmureMali_AddHazine_Tittle_PageTittle,AddHazine,OmureMali,btn-green ti-plus,NemayandegiId-ModirId-OvliaId" />
  <add key="OmureMali_AddHazine_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId" />
  <add key="OmureMali_EditHazine_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_AddHazine_Tittle_PageTittle,AddHazine,OmureMali,btn-green ti-plus,NemayandegiId-ModirId-OvliaId" />
  <add key="OmureMali_DetailHazine_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_AddHazine_Tittle_PageTittle,AddHazine,OmureMali,btn-green ti-plus,NemayandegiId-ModirId-OvliaId;OmureMali_EditHazine_Tittle_PageTittle,EditHazine,OmureMali,btn-yellow ti-pencil,NemayandegiId-ModirId-OvliaId-HazineId" />

  <add key="OmureMali_ListPardakht_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_AddPardakht_Tittle_PageTittle,AddPardakht,OmureMali,btn-green ti-plus,NemayandegiId-ModirId-HazineId-OvliaId" />
  <add key="OmureMali_AddPardakht_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_ListPardakht_Tittle_PageTittle,ListPardakht,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-HazineId-OvliaId" />
  <add key="OmureMali_EditPardakht_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_ListPardakht_Tittle_PageTittle,ListPardakht,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-HazineId-OvliaId;OmureMali_AddPardakht_Tittle_PageTittle,AddPardakht,OmureMali,btn-green ti-plus,NemayandegiId-ModirId-HazineId-OvliaId" />
  <add key="OmureMali_DetailPardakht_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_ListPardakht_Tittle_PageTittle,ListPardakht,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-HazineId-OvliaId;OmureMali_AddPardakht_Tittle_PageTittle,AddPardakht,OmureMali,btn-green ti-plus,NemayandegiId-ModirId-HazineId-OvliaId;OmureMali_EditPardakht_Tittle_PageTittle,EditPardakht,OmureMali,btn-yellow ti-pencil,NemayandegiId-ModirId-PardakhtId-HazineId-OvliaId" />

  <add key="OmureMali_ListCheck_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_AddCheck_Tittle_PageTittle,AddCheck,OmureMali,btn-green ti-plus,NemayandegiId-ModirId-HazineId-OvliaId" />
  <add key="OmureMali_AddCheck_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_ListCheck_Tittle_PageTittle,ListCheck,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-HazineId-OvliaId" />
  <add key="OmureMali_EditCheck_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_ListCheck_Tittle_PageTittle,ListCheck,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-HazineId-OvliaId;OmureMali_AddCheck_Tittle_PageTittle,AddCheck,OmureMali,btn-green ti-plus,NemayandegiId-ModirId-HazineId-OvliaId" />
  <add key="OmureMali_DetailCheck_PathLog" value="OmureMali_ListHazine_Tittle_PageTittle,ListHazine,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-OvliaId;OmureMali_ListCheck_Tittle_PageTittle,ListCheck,OmureMali,btn-purple ti-list,NemayandegiId-ModirId-HazineId-OvliaId;OmureMali_AddCheck_Tittle_PageTittle,AddCheck,OmureMali,btn-green ti-plus,NemayandegiId-ModirId-HazineId-OvliaId;OmureMali_EditCheck_Tittle_PageTittle,EditCheck,OmureMali,btn-yellow ti-pencil,NemayandegiId-ModirId-HazineId-OvliaId-CheckId" />
</PagetittleSection>


