<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="UsersFoldersPath" type="System.Configuration.AppSettingsSection" />
    <section name="PagetittleSection" type="System.Configuration.AppSettingsSection" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SchoolService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=irsql2008.soldaschool.ir,1430;Initial Catalog=11489_soldaschoolDB;User ID=11489_soldaschooluser;password=WsmmG5zYM7Lk6JwW;" providerName="System.Data.SqlClient" />
    <add name="SCEntities" connectionString="metadata=res://*/Models.DataModel.DBModel.csdl|res://*/Models.DataModel.DBModel.ssdl|res://*/Models.DataModel.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irsql2008.soldaschool.ir,1430;initial catalog=11489_soldaschoolDB;persist security info=True;user id=11489_soldaschooluser;password=WsmmG5zYM7Lk6JwW;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.DataModel.DBModel.csdl|res://*/Models.DataModel.DBModel.ssdl|res://*/Models.DataModel.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irsql2008.3mill.ir,1430;initial catalog=11489_soldaschoolDB;persist security info=True;user id=11489_soldaschooluser;password=WsmmG5zYM7Lk6JwW;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebSiteUrl" value="http://soldaschool.ir" />
    <add key="SMSPannel" value="30007240003017" />
    <add key="SMSPannelUser" value="hamidpartovi" />
    <add key="SMSPannelPass" value="7524" />
    <add key="PushNotificationToken" value="154c0c263181de699ee27f87fc230f45cf528bc7" />
  </appSettings>
  <UsersFoldersPath>
    <add key="TaklifeKelasi" value="/Content/UserContent/TaklifeKelasi/" />
  </UsersFoldersPath>
  <PagetittleSection configSource="PageTittleSetting.config" />
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="5485765" executionTimeout="20"/>

  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="57374182" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <SchoolService.Properties.Settings>
      <setting name="SchoolService_SMSIranianWebService_Send" serializeAs="String">
        <value>http://api.payamak-panel.com/post/Send.asmx</value>
      </setting>
    </SchoolService.Properties.Settings>
  </applicationSettings>
</configuration>