
<div class="col-lg-6 col-md-12">
    <nav id="cl-effect-9" class="links cl-effect-9">
        <a href="@Url.Action("AddModir", "Modir", new {MadreseId= @ViewBag.MadreseId })"><span>هنوز مدیری برای این مدرسه تعریف نشده است</span><span>تعریف مدیر جدید</span></a>
    </nav>
    </div>
